/node_modules
/packages/*/node_modules
/packages/varasto-client/index.d.ts
/packages/varasto-client/index.js
/packages/varasto-server/index.d.ts
/packages/varasto-server/index.js
/packages/varasto-storage/index.d.ts
/packages/varasto-storage/index.js
*.log
*.tgz
